tab-group[collapsed] .tabbrowser-tab {
	height: 0 !important;
}

tab-group .tabbrowser-tab {
	border-radius: unset !important;
}

tab-group .tabbrowser-tab::before {
	content: '';
    position: absolute;
	height: 100%;
	width: 2px;
	margin: 0;
	padding: 0;
	border: none;

	background-color: var(--tab-group-color-invert);
}

.tab-group-label-container::after {
	display: none !important;
}

tab-group:not([collapsed]) .tab-group-label-container::before {
	content: '';
    position: absolute;
	height: var(--tab-group-label-height);
	width: 3px;
    left: -3px;
	margin: 0;
	padding: 0;
	border: none;

	background-color: var(--tab-group-color-invert);
}

tab-group .tab-group-label {
	max-width: unset !important;
}

tab-group:not([collapsed]) .tab-group-label {
	border-radius: 0 var(--tab-border-radius) var(--tab-border-radius) 0 !important;
}
